services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: pronounce_pg_db
      POSTGRES_USER: pronounce_user
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: knagasasankreddy@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PYTHONWARNINGS: "ignore"
    ports:
      - "5050:80"

volumes:
  postgres_data:
